*{padding: 0; margin: 0;}

body{width : 100%; min-width: 1000px; background: url("../pics/background3.jpg");}

.main_content{margin:0 auto;}
.nav {
    position: fixed;
    width:1000px;
    left: 15%;
    z-index: 9999;
}

.nav ul{
    list-style: none;
}

.nav .links_section {
    float: left;
    
}

.nav .links_section:nth-child(1) a{
    font-family: 'Poiret One', cursive;
    font-size: 16px;
    font-weight: bold;
} 
.logo{
    width: 30px;
    height: 30px;
    border-radius: 45px;
}

.nav a{
    text-align: center;
    text-decoration: none;
    font-family: tahoma, arial;
    font-weight: bold;
    font-size: 12px;
    color: cornsilk;
    background: rgba(109,107,112,.4);
    display: block;
    padding: 15px;
    border: 1px dashed white;
    border-radius: 8px;
}

.nav ul li ul {
   display: none;
}


.nav a:hover {
    background: url("../pics/button-back.png");
    background-size: cover;
    transition: background 400ms ease-out;
    transform: scale(1.05);
    color: blanchedalmond;
    cursor: hand;
}

.nav ul .links_section:hover > .sublinks_section {
    display: block;
}
.loading_sign{
    width: 60px;
    height: 90px;
    border-radius: 45px;
    position: relative;
    bottom: 20px;
    display: none;
}

.aside{
    width: 46px;
    position: fixed;
    top: 18%;
}

.follow-site{
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.follow-pic{
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 8px rgba(0,0,0,.8);  
    border-radius: 10px;
    margin-top: 5px;
}



.facebook {
    position: relative;
    top: 4px;
    
}

.youtube{
    position: relative;
    top: 8px;   
}

.follow-pic:hover{
    border: 1px solid black;
    box-shadow: 5px 5px 8px rgba(0,0,0,.8);  
}

.follow-parag{
    width: 270px;
    padding: 10px;
    border: 5px solid gray;
    border-radius: 15px;
    background: #cec9c9;
    font-family: papyrus, tahoma;
    font-size: 18px;
    margin-top: 5px;
    box-shadow: 5px 5px 8px rgba(0,0,0,.8);
}
.follow-description{
    width:307px;
    height: 400px;
    padding: 20px;
    overflow-y:scroll ;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #000; 
    background: #fff;
    position: fixed;
    top: 15%;
    left: 67.5px;
    display: none;
}

.follow-description::-webkit-scrollbar {
      width: 0;
      border-radius: 5px;
      transition: width .5s ease-in;
      -webkit-transition: width 1s ease-in;
} 

.follow-description::-webkit-scrollbar-track {
      background-color: #fff; 
      border-radius: 5px;

}

.follow-description::-webkit-scrollbar-thumb {
    background-color: rgba(0,15,78,.5);
    border-radius: 5px;
}

.follow-description::-webkit-scrollbar-button {
      display: none;
}

.follow-description::-webkit-scrollbar-corner {
      background-color: #e3e3e3;
    border-radius: 10px;
}


.follow-description-div:hover > .follow-description::-webkit-scrollbar {
      width: 7px;
} 


.follow-description::-mos-scrollbar {
      width: 0;
      border-radius: 5px;
      transition: width .5s ease-in;
      -webkit-transition: width 1s ease-in;
} 

.follow-description::-mos-scrollbar-track {
      background-color: #fff; 
      border-radius: 5px;

}

.follow-description::-mos-scrollbar-thumb {
    background-color: rgba(0,15,78,.5);
    border-radius: 5px;
}

.follow-description::-mos-scrollbar-button {
      display: none;
}

.follow-description::-mos-scrollbar-corner {
      background-color: #e3e3e3;
    border-radius: 10px;
}


.follow-description-div:hover > .follow-description::-mos-scrollbar {
      width: 7px;
} 


.follow-header > img{
    width: 148px;
    height: 41px;
    box-shadow: 2px 2px 8px rgba(0,0,0,.8);
}

.share > img{
    width: 148px;
    height: 41px;
    box-shadow: 2px 2px 8px rgba(0,0,0,.8);
}


.follow-icon::after
{
	content: '';
	position: absolute;
    left: 48.5px;
	top: 6px;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
    border-bottom : 20px solid transparent;
    z-index: 99;
    transition: border-right .3s ease-in;
    -webkit-transition: border-right .3s ease-in;
    -ms-transition: border-right .3s ease-in;
    -mos-transition: border-right .3s ease-in;
}

.youtube:hover > .follow-icon::after{
    position: absolute;
	top: 5px;
    border-right: 20px solid #fff;
}

.facebook:hover > .follow-icon::after{
    position: absolute;
	top: 3px;
    border-right: 20px solid #fff;
}

.google:hover > .follow-icon::after{
    position: absolute;
	top: 108px;
    border-right: 20px solid #fff;
}

.follow-icon:hover > img{
    z-index: 999999;
   transform: rotate(-90deg);
    transition-duration: .5s;
   -webkit-transform: rotate(-90deg);
   -mos-transform:rotate(-90deg);
   -ms-transform:rotate(-90deg);
}

*::-webkit-input-placeholder { /* WebKit browsers */
    color:    #0579ab;
}
*:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #0579ab;
   opacity:  1;
}
*::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #0579ab;
   opacity:  1;
}
*:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #0579ab;
}
.content{
    position: absolute;
    left: 8.5%;
    top: 18%;
    border-style: none;
    z-index: -111;
}

